<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastrar Login</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="container">
      <form action="">
        <h2>Cadastrar Login</h2>
        <div class="form-grid">
          <div>
            <label for="">Nome</label>
            <input type="text" name="nome" id="nome" />
          </div>
          <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
          </div>
          <div>
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" />
          </div>
          <div>
            <label for="confirmar">Confirmar Senha</label>
            <input type="password" name="confirmar" id="confirmar" />
          </div>
        </div>
        <input class="btn-cadastrar" type="submite" value="Cadastrar" />
      </form>
    </div>

    <script src="js/cadastrar.js"></script>
  </body>
</html>
