*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

#container{
    background-color: #08086a;
    color: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#container form input{
    width: 100%;
}

.btn-cadastrar{
    padding: 8px 12px;
    background-color: #46d877;
    margin: 8px 0px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}

.btn-cadastrar:hover{
    filter: brighness(1.1);
}

.link-index{
    text-decoration: none;
    color: #FFF;
}